<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>{{ g.title[request.endpoint] }}</title>
</head>
<body>
<div class="message-page">
    <form method="post" class="message-form">
        <div><div style="text-align:center; width:160px; font-family:serif;font-size:22pt;">W🔥TCH</div><div style="text-align:center; font-family:serif;font-size:14pt;">love is control</div></div>
        <br>
        <div>
            <label>Login
                <input type="text" name="name" size="22" maxlength="512" autofocus required>
            </label>
            </div>
        <div>
        <label>Password
            <input type="password" name="password" size="22" required>
        </label>
            </div>
        <div>
        {% include 'flashed.html' %}
        <input type="submit" value="Sign In">
        </div>
    </form>
</div>
</body>
</html>