{% extends "list.html" %}
{% block parameters %}
<form method="get">
    <label>Date column
        <select type="text" class="sql-text" name="column_name" size="1" maxlength="512" autofocus>
            <option disabled>Set column for grouping</option>
            {% for item in date_columns %}
            <option value="{{ item[0] }}"{% if request.args.get('column_name', '') == item[0] %} selected{% endif %}>{{ item[0] }}</option>
            {% endfor %}
        </select>
    </label>
    <label>Date from
        <input type="text" class="sql-text" name="date_from" size="30" maxlength="512" value="{{ request.args.get('date_from', '-5d') }}">
    </label>
    <input type="hidden" name="do">
    <input type="submit" value="Run">
    {% if g.snail %}<span class="form-caption" title="This view could be very slow...">&#128012</span>{% endif %}
</form>
{% endblock %}